<h1>Books</h1>
<div class = "list-box">
 <div class= "title">
     
 <h4>Title</h4>
    <% @books.each do |book| %>
    <span><%= book.title %></span>
    <% end %>
    </div>
    
    <div class = "body">
    <h4>Body</h4>
    <% @books.each do |book| %>
    <span><%= book.body %></span>
  <% end %>
   </div>
    <%= link_to "Show",'/books' %>
</div>
